/* signup_css.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: calc(100% - 105px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="tel"]{
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="submit"],
button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

input[type="radio"] {
    margin-top: 10px;
    margin-right: 5px;
}

input[type="button"] {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #3367d6;
}

#schooltype{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#postcode {
    width: 100px;
}

#address{
   width: 30%;
    position: static;
    margin-left: 20.9%; 
}
#detail{
    width: 25%;
    position: static;
    margin-left: 20.9%;
}
#extra{
    width: 40%;
    position: static;
}
@media (max-width: 480px) {
    /* Styles for mobile devices */
    form {
        padding: 10px;
    }

    label,
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    input[type="button"],
    input[type="submit"],
    button {
        width: 100%;
    }

    input[type="button"] {
        margin-top: 0;
    }
}
